/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

// background
$back1: rgb(25, 25, 25);
$back2: rgba(38, 38, 38, 0.8);
$back3: rgb(88, 88, 88, 0.8);
$back4: rgb(107, 107, 107);
// foreground and highlights
$primary0: #1648adce;
$primary1: #2f70e0;
$primary2: #6099fc;
$primary3: #a4c6ff;
// text color
$text_color: #e9e9e9;
$text_color2: #c0c0c0;
// chess tile colors
$tile__light: #a09e99;
$tile_dark: #615a4c;
$tile_dark_shadow: #413d38c2;

// SIZES
$text_size1: 0.7em;
$text_size2: 0.5em;
$heading1: 1.1em;
$heading2: 1.1em;

// for margins, padding, filler boxes
$spacing1: 20px;
$spacing2: 10px;

html, body {
    margin: 0;
    padding: 0;
}

h1 {
	color: $text_color;
	font-size: $heading1;
	padding: $spacing2;
	margin: 0;
	font-weight: 700;
}

button {
	border: none;
	padding: 5px;
	margin: 0;
	color: $text_color;
	background-color: $back3;

	&:hover {
		cursor: pointer;
	}
	&:active {
		background-color: $primary1;
	}
}

* {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
