
@import "../../styles.scss";
@import "../../app/app.component.scss";

.board_container {
    display: flex;
}

#chess {
	display: flex;
	flex-direction: column;

	h1 {
		display: none;
	}

	.board {
		width: 500px;
		height: 500px;
		display: flex;
		flex-flow: row wrap;

		.tile {
			width: 12.5%;
			height: 12.5%;
			background-color: $tile_light;
			align-items: center;
			justify-content: center;

			&__dark {
				background-color: $tile_dark;
				box-shadow: inset 2px 2px 3px 0px $tile_dark_shadow;
				z-index: 10;
			}

			&__moveable {
				background-color: $primary3;
				cursor: pointer;
			}
			&__darkMovable {
				background-color: $primary2;
				box-shadow: inset 2px 2px 3px 0px $primary0;
				cursor: pointer;
			}
		}

		.piece_placeholder {
			.piece {
				width: 100%;
				height: 100%;
				cursor: pointer;
				filter: opacity(100%);
				transition: all 0.2s;
				user-select: none;

				&.selected {
					filter: opacity(50%);
					transition: all 0.2s;
				}
			}
		}
	}
}

.coords{
	&__numbers {
		width: $spacing_1;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;

		div {
			height: 12.5%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			color: $text_2;
		}
	}

	&__letters {
		height: $spacing_1;
		display: flex;
		flex-direction: row;
		align-items: center;

		div {
			width: 12.5%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			color: $text_2;
		}
	}
	
}

.cdk-drag-preview {
	.piece {
		width: 100%;
		height: 100%;
		opacity: 1;
	}
}
.cdk-drag-placeholder {
	display: none;
}

.drag-location {
	background-color: #4d4dff !important;
}
