@import "../../styles.scss";
@import "../../app/app.component.scss";


#options {
    display: grid;
    max-width: $full_board_width;
}

#settings {
    background-color: $back2;
    color: #fff;

    .tab {
        width: 100%;
        background-color: $back2;
        border-bottom: 2px solid $back3;

        &:hover {
            background-color: $primary0;
        }

        &:active {
            background-color: $primary1;
        }

        &__selected {
            background-color: $back3;
            border-bottom: 2px solid $primary1;
        }
    }

    .tab_display {
        width: 100%;
        padding: 16px;

        input[type=text] {
            width: 100%;
        }

        .carosel {
            width: 100%;
            display: flex;
            flex-direction: row;
            overflow-y: hidden;

            &::-webkit-scrollbar {
                width: 10px;

                &-track {
                    background-color: $back3 !important;
                }

                &-thumb {
                    background-color: $back2 !important;

                    &:hover {
                        background-color: $primary0 !important;
                    }

                    &:active {
                        background-color: $primary1 !important;
                    }
                }
            }

            .theme {
                display: block;
                background-color: $back2;
                padding: 4px;
                margin: 0;

                &__selected {
                    background-color: $primary1;
                }

                &:hover {
                    background-color: $primary0;
                }

                &:active {
                    background-color: $primary1;
                }

                img {
                    width: 48px;
                    height: 48px;
                }
            }
        }


    }
}