<section class="board_container">

    <div class="board" cdkDropListGroup>
        <app-tile
        *ngFor="let tile of board" 
        [tile]="tile"
        cdkDropList
        cdkDropListSortingDisabled
        (cdkDropListDropped)="pieceDropped(tile)"
        [cdkDropListData]="tile"
        [ngClass]="{ tile__dark: tile.dark }"
        class="tile"
    ></app-tile>
    </div>

    <div class="coords__numbers">
        <div class="number" *ngFor="let i of [1,2,3,4,5,6,7,8]">{{ i }}</div>
    </div>
    <div class="coords__letters">
        <div class="letter" *ngFor="let letter of ['a','b','c','d','e','f','g','h']">{{ letter }}</div>
    </div>
</section>

<div class="ball">
    <div class="point"></div>
</div>
