<section class="container">
    <div class="board">
        <div class="tile" *ngFor="let tile of board" [ngClass]="{'tile__dark': tile.color}" (click)="pieceClicked(tile.key)"> 
            <!-- {{ getLetter(tile.x) }}{{ tile.y +1 }} -->
            
            <div [ngClass]="{'moveable': tile.moveable}"></div>
            <img
                *ngIf="tile.piece.value !== 0" 
                class="piece" [ngClass]="{'selected': tile.selected}"
                src="../../assets/{{tile.piece.name + tile.piece.player}}.svg" 
                alt="{{tile.piece.name + tile.piece.player}}" 
                draggable="false"
            >
            
            
        </div>
    </div>
</section>