<section id="options">
    <section id="settings" [style.width.px]="boardSize">
        <h1>Chess Settings</h1>
        <div class="tabs">
            <button class="tab" [ngClass]="{ tab__active: options.display === option }"
                *ngFor="let option of OPTIONS_LIST" [style.width.%]="100 / OPTIONS_LIST.length" (click)="openTab(option)">
                {{ option }}
            </button>
        </div>
        <!-- TODO: Make each option div into a text string for a displayList -->
        <div class="tab_display" *ngIf="options.display === 'Piece Set'">
            <div class="carosel">
                <button class="theme" *ngFor="let theme of options.pieceSetList" (click)="changeTheme(theme)"
                    [ngClass]="{ theme__selected: options.pieceSet === theme }">
                    <img title="{{ theme }}" src="../../assets/{{ theme }}/wN.svg" alt="{{ theme }}" />
                </button>
            </div>
        </div>

        <div class="tab_display" *ngIf="options.display === 'FEN'">
            <form>
                <fieldset class="exportFen" apperance="fill">
                    <label for="fen">FEN</label>
                    <input class="fenInput" name="fen" #input [ngModel]="options.fenValue"
                        (keyup.enter)="onFenValueChange(input.value)" />
                </fieldset>
            </form>
        </div>

    </section>

    <section id="controls">
        <h1>Controls</h1>
        <div class="controls">
            <button (click)="setDefaults()">Reset</button>
        </div>
    </section>

</section>